.main {
  position: absolute;
  top: 15vh;
  width: 100vw;
  padding: 0 5vw;
}

.main_checkout_div{
  width: 100%;
  display: flex;
}

.form_section, .cart_section{
  width: 50%;
}

.cart_section p{
  display: inline-block;
}

.cart_section_div{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 2% 0;
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
}

.cart_section_div p{
  font-weight: 400;
  color: var(--primary-color);
}

.cart_depto{
  padding: 1%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1.5px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.cart_depto:hover{
  background-color: white !important;
}

.form_section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form_section form{
  width: 75%;
}

.form_section form input{
  width: 100%;
  background-color: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  height: 4em;
  padding: 0 1%;
  margin-bottom: 10px;
  transition: all 0.1s ease;
}

.form_section form input button{
  font-weight: 700 !important;
  
}

.galleryiewDiv{
  display: flex;
  width: 50%;
  padding: 2%;
}

.galleryViewCart{
  width: 100%;
}

.galleryiewDiv div div{
  width: 20vw !important;
}

.galleryiewDiv img{
  height: 25vh !important;
}

.galleryiewDiv{
  display: flex;
}

.property_bar{
  width: 100%;
}

.successMessage {
  color: green;
}